body {
	background-color: #08070B;
}


ul{

font-family: 'Righteous', cursive;
}

a{
	text-decoration: none;
	color: #DD0006;
	justify-items: center;
	font-size: 3em;

}

.container {
	display: flex;
	justify-content: center;
	margin-top: 30%;
	

}
.animate__fadeInDown{

	animation-duration: 2s;
}