body {
	background-color: #08070B;
}


ul{

font-family: 'Righteous', cursive;
margin-top: 10%;
}

a{
	text-decoration: none;
	color: #DD0006;
	justify-items: center;
	font-size: 3em;

}

/* .container {
	display: flex;
	justify-content: center;
	margin-top: 10%;
	

} */
.animate__fadeInDown{

	animation-duration: 2s;
}


@media only screen and (max-width: 500px) {
.container{

	margin-top: 50%;
}


}
