.gallery{
    width: 50vw;
    margin:3%;
}

.gallery-1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;


}

.shop-title{
    color: black;
    margin-top: 10%;
    margin-left: 5%;
}

.gallery-2{
    margin-top: 20%;

}

.btn{

    height: 80%;
    width: 20%;
}
.message{
    color: white;
    font-size: 2em;

}

.store{
    margin-top: 2%;
    margin-left: 6%;
}

.home{
    color: black;
	text-decoration: none;
	font-family: 'Goldman';
}

@media only screen and ( max-width: 414px){

    .btn{

        height: 20%;
        width: 30%;
    }
    
    .message{
        color: white;
        font-size: 1.3em;
    }
}

