/*selector {
	property: value;
}*/
body, html {
	height: 100%;
}

.bg{
	background-image: url(home.jpg);
	height: 100%;
	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;

}


h1{
text-align: center;
color: white;
font-family: "aviano sans regular";
font-size: 3vw;
}

.animate__fadeInDown{
	animation-duration: 3s;

}

 p{ 
	line-height: 1.5;
	color: #FFC6C2;
	cursor:pointer;
	font-family: 'Orbitron', sans-serif;
		font-size: 45px;
	text-align: center;
	width: 100%;
	 animation: color-change 1s infinite;

}

@keyframes color-change {
  0% { color: #FFC6C2; }
  50% { color: white;}
  100% { color: #0C0C0C; }
}


 .aap .animate__backInUp{
	animation-duration: 3s;


}



a{

		font-family: 'Orbitron', sans-serif;
		font-size: 1.5em;
	
	color: white;


}

.navbar-brand {
	font-family: "wallpoet";
	font-size: 4em;


}
 footer {
 	display: flex;
 	justify-content: center;
 	color: white;
 	margin-top: 10%;
 	font-size: 60px;
 }


.fa-instagram {
  color: White;
  text-decoration: none;

}

@media only screen and (max-width: 414px) {
.navbar-brand{
	font-size: 1em;

}

a{

	font-family: 'Orbitron', sans-serif;
	font-size: 1em;



}

}



/* 
@media only screen and (min-width: 300px) {
	a {
		font-size: 30px;
	}
}

@media only screen and (max-width :600px){
	a {
		font-size: 60px;
	}
}

i{
	padding: 10px;
}


